{
  "parser": "@babel/eslint-parser",
  "extends": [
    "standard",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:mocha/recommended"
  ],
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "semi": [1, "always"],
    "camelcase": 0,
    "comma-dangle": 0
  }
}
